@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: rgb(37, 33, 33);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes it stay fixed on scroll */
  background-repeat: no-repeat;
}
/* global.css or app.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}